body{
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    -webkit-text-fill-color: aliceblue;
    border: black;
}
.cancelar{
    text-align:center;
    
}
.proximo{
    text-align:center;
}
div#login{
    color: aliceblue;
    border: black;
}
div#senha{
    color: aliceblue;
}
#aceite{
    color: azure;
}