body{
    background-attachment: fixed;
    background-size: 100% 100%;
}
p{
    color: rgb(253, 253, 253);
    text-align:center;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
section{
    background:rgb(27, 114, 129);
    border-radius:15px;
    width: 500px;
    margin: auto;
    
}